body{
    background-color: #000;
}
.mvBox{
    width: 100%;
    height: 100vh;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: url(../images/bg.jpg) no-repeat center bottom/ cover;

    .banner{
        width: 100%;
        border-bottom: 1px solid #CEA972;
        // position: absolute;
        // @include pos(tl,0);
    }

    .mvbox-cnt{
        height: 100%;
        padding: 0 15px;
        display: flex;
        align-items: center;
        
    }
    
    .mvbox-view{
        width: 100%;
        max-width: 800px;
        video{
            width: 100%;
            height: 100%;
        }
    }
}